<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="sidenavClose()" *ngIf="!(insAuth$ | async)">
    <mat-icon>face</mat-icon>
    <span class="left-space">Signup</span>
  </a>
  <a mat-list-item routerLink="/signin" (click)="sidenavClose()" *ngIf="!(insAuth$ | async)">
    <mat-icon>input</mat-icon>
    <span class="left-space">Signin</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="sidenavClose()" *ngIf="insAuth$ | async">
    <mat-icon>fitness_center</mat-icon>
    <span class="left-space">Training</span>
  </a>
  <mat-list-item *ngIf="insAuth$ | async">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="left-space">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
