<div class="text-center welcome" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column" fxLayoutGap="20px">
  <section>
    <mat-icon>directions_run</mat-icon>
    <h3>ACTIVITY</h3>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <mat-icon>group</mat-icon>
    <h3>COMMUNITY</h3>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <mat-icon>fitness_center</mat-icon>
    <h3>CHALLENGES</h3>
    <p>Never stop! Dive into new challenges every day</p>
  </section>
</div>
